<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th colspan="2"> S-8 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> SCJ </td>
            <td> RRJ </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td> Rp46.200 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td> Rp76.800 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td> Rp114.150 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td> Rp178.350 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td> Rp283.200 </td>
            <td> Rp285.800 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td> Rp569.800 </td>
            <td> Rp573.700 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td> Rp855.600 </td>
            <td> Rp860.700 </td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td> Rp1.729.800 </td>
            <td> Rp1.789.400 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>&nbsp;</td>
            <td> Rp2.813.900 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>&nbsp;</td>
            <td> Rp4.385.200 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>&nbsp;</td>
            <td> Rp7.014.300 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>&nbsp;</td>
            <td> Rp8.922.200 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>&nbsp;</td>
            <td> Rp11.389.200 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td>&nbsp;</td>
            <td> Rp15.093.300 </td>
        </tr>
        <tr>
            <td>20" (500 mm)</td>
            <td>&nbsp;</td>
            <td> Rp18.677.800 </td>
        </tr>
        <tr>
            <td>24" (630 mm)</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th colspan="2"> S-10 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> SCJ </td>
            <td> RRJ </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td> Rp36.800 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td> Rp56.500 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td> Rp63.500 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td> Rp93.000 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td> Rp144.400 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td> Rp227.600 </td>
            <td> Rp229.700 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td> Rp461.600 </td>
            <td> Rp464.600 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td> Rp694.300 </td>
            <td> Rp698.600 </td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td> Rp1.472.400 </td>
            <td> Rp1.477.100 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>&nbsp;</td>
            <td> Rp2.304.900 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>&nbsp;</td>
            <td> Rp3.573.200 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>&nbsp;</td>
            <td> Rp5.700.100 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>&nbsp;</td>
            <td> Rp7.245.300 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>&nbsp;</td>
            <td> Rp9.289.200 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td>&nbsp;</td>
            <td> Rp12.316.200 </td>
        </tr>
        <tr>
            <td>20" (500 mm)</td>
            <td>&nbsp;</td>
            <td> Rp15.263.700 </td>
        </tr>
        <tr>
            <td>24" (630 mm)</td>
            <td>&nbsp;</td>
            <td> Rp24.338.900 </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th colspan="2"> S-12,5 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> SCJ </td>
            <td> RRJ </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td> Rp123.200 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td> Rp183.900 </td>
            <td> Rp185.700 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td> Rp385.000 </td>
            <td> Rp387.600 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td> Rp559.100 </td>
            <td> Rp562.500 </td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td> Rp1.197.800 </td>
            <td> Rp1.201.600 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>&nbsp;</td>
            <td> Rp1.872.400 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>&nbsp;</td>
            <td> Rp2.921.700 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>&nbsp;</td>
            <td> Rp4.650.400 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>&nbsp;</td>
            <td> Rp5.904.600 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>&nbsp;</td>
            <td> Rp7.523.300 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td>&nbsp;</td>
            <td> Rp9.952.300 </td>
        </tr>
        <tr>
            <td>20" (500 mm)</td>
            <td>&nbsp;</td>
            <td> Rp12.334.500 </td>
        </tr>
        <tr>
            <td>24" (630 mm)</td>
            <td>&nbsp;</td>
            <td> Rp19.806.400 </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th colspan="2"> S-16 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> RRJ </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td> Rp158.300 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td> Rp314.000 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td> Rp460.300 </td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td> Rp965.100 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td> Rp1.521.200 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td> Rp2.370.700 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td> Rp3.776.400 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td> Rp4.780.000 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td> Rp6.111.700 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td> Rp7.747.100 </td>
        </tr>
        <tr>
            <td>20" (500 mm)</td>
            <td> Rp9.567.700 </td>
        </tr>
        <tr>
            <td>24" (630 mm)</td>
            <td> Rp15.358.100 </td>
        </tr>
    </tbody>
</table>