<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th colspan="2"> S-10 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> SCJ </td>
            <td> RRJ </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>Rp 28.300 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td>Rp 41.950 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td>Rp 69.250 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td>Rp 102.350 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td>Rp 161.700 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td>Rp 248.150 </td>
            <td>Rp 269.000 </td>
        </tr>
        <tr>
            <td>2-1/2" (75 mm)</td>
            <td>Rp 354.100 </td>
            <td>Rp 383.100 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td>Rp 505.750 </td>
            <td>Rp 537.600 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td>Rp 764.950 </td>
            <td>Rp 802.700 </td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td>Rp 1.615.750 </td>
            <td>Rp 1.671.150 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>Rp 2.637.900 </td>
            <td>Rp 2.711.650 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>Rp 4.122.800 </td>
            <td>Rp 4.220.500 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>Rp 6.561.150 </td>
            <td>Rp 6.696.950 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 8.613.150 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 11.148.350 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 14.495.000 </td>
        </tr>
        <tr>
            <td>20" (500 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 17.470.700 </td>
        </tr>
        <tr>
            <td>24" (630 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 26.571.700 </td>
        </tr>
        <tr>
            <td>28" (710 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 40.006.900 </td>
        </tr>
        <tr>
            <td>32" (800 mm)</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th colspan="2"> S-12,5 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> SCJ </td>
            <td> RRJ </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>Rp 24.800 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td>Rp 37.200 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td>Rp 58.850 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td>Rp 90.000 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td>Rp 138.500 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td>Rp 203.300 </td>
            <td>Rp 223.350 </td>
        </tr>
        <tr>
            <td>2-1/2" (75 mm)</td>
            <td>Rp 290.500 </td>
            <td>Rp 318.800 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td>Rp 419.800 </td>
            <td>Rp 450.750 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td>Rp 614.250 </td>
            <td>Rp 650.750 </td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td>Rp 1.314.100 </td>
            <td>Rp 1.368.150 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>Rp 2.145.450 </td>
            <td>Rp 2.216.150 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>Rp 3.373.500 </td>
            <td>Rp 3.467.900 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>Rp 5.377.350 </td>
            <td>Rp 5.507.700 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 7.211.700 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 9.098.500 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 11.710.600 </td>
        </tr>
        <tr>
            <td>20" (500 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 14.452.600 </td>
        </tr>
        <tr>
            <td>24" (630 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 23.312.350 </td>
        </tr>
        <tr>
            <td>28" (710 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 32.798.800 </td>
        </tr>
        <tr>
            <td>32" (800 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 41.751.900 </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th colspan="2"> S-16 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> SCJ </td>
            <td> RRJ </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>Rp 21.000 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td>Rp 29.900 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td>Rp 47.600 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td>Rp 75.800 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td>Rp 116.450 </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td>Rp 177.150 </td>
            <td>Rp 197.350 </td>
        </tr>
        <tr>
            <td>2-1/2" (75 mm)</td>
            <td>Rp 240.450 </td>
            <td>Rp 268.800 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td>Rp 353.350 </td>
            <td>Rp 384.350 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td>Rp 528.500 </td>
            <td>Rp 565.200 </td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td>Rp 1.056.250 </td>
            <td>Rp 1.110.200 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>Rp 1.748.900 </td>
            <td>Rp 1.806.700 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>Rp 2.795.900 </td>
            <td>Rp 2.816.900 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>Rp 4.445.150 </td>
            <td>Rp 4.576.900 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 5.778.900 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 7.369.900 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 9.564.350 </td>
        </tr>
        <tr>
            <td>20" (500 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 11.800.600 </td>
        </tr>
        <tr>
            <td>24" (630 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 18.941.450 </td>
        </tr>
        <tr>
            <td>28" (710 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 24.259.250 </td>
        </tr>
        <tr>
            <td>32" (800 mm)</td>
            <td>&nbsp;</td>
            <td>Rp 30.781.800 </td>
        </tr>
    </tbody>
</table>