<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th> S 4 - SDR 9 (PN 20) </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> Harga/Meter </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>Rp 9.740 </td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td>Rp 94.660 </td>
        </tr>
        <tr>
            <td>2-1/2" (75 mm)</td>
            <td>Rp 132.120 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td>Rp 192.380 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td>Rp 271.860 </td>
        </tr>
        <tr>
            <td>5" (125 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td>Rp 572.240 </td>
        </tr>
        <tr>
            <td>7" (180 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>Rp 896.900 </td>
        </tr>
        <tr>
            <td>9" (225 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>Rp 1.397.060 </td>
        </tr>
        <tr>
            <td>11" (280 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>Rp 2.190.500 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>Rp 2.951.800 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>Rp 3.752.660 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Diameter</th>
            <th> S 3.2 - SDR 7.4 (PN 25) </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>inch (mm)</td>
            <td> Harga/Meter </td>
        </tr>
        <tr>
            <td>1/2" (20 mm)</td>
            <td>Rp 11.460 </td>
        </tr>
        <tr>
            <td>3/4" (25 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (32 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (40 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/2" (50 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2" (63 mm)</td>
            <td>Rp 108.780 </td>
        </tr>
        <tr>
            <td>2-1/2" (75 mm)</td>
            <td>Rp 150.600 </td>
        </tr>
        <tr>
            <td>3" (90 mm)</td>
            <td>Rp 221.960 </td>
        </tr>
        <tr>
            <td>4" (110 mm)</td>
            <td>Rp 332.940 </td>
        </tr>
        <tr>
            <td>5" (125 mm)</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>6" (160 mm)</td>
            <td>Rp 638.980 </td>
        </tr>
        <tr>
            <td>7" (180 mm)</td>
            <td>Rp 810.000 </td>
        </tr>
        <tr>
            <td>8" (200 mm)</td>
            <td>Rp 1.000.520 </td>
        </tr>
        <tr>
            <td>9" (225 mm)</td>
            <td>Rp 1.262.440 </td>
        </tr>
        <tr>
            <td>10" (250 mm)</td>
            <td>Rp 1.559.360 </td>
        </tr>
        <tr>
            <td>11" (280 mm)</td>
            <td>Rp 1.951.200 </td>
        </tr>
        <tr>
            <td>12" (315 mm)</td>
            <td>Rp 2.468.980 </td>
        </tr>
        <tr>
            <td>14" (355 mm)</td>
            <td>Rp 3.139.580 </td>
        </tr>
        <tr>
            <td>16" (400 mm)</td>
            <td>Rp 3.994.640 </td>
        </tr>
        <tr>
            <td>18" (450 mm)</td>
            <td>Rp 5.057.120 </td>
        </tr>
    </tbody>
</table>