<!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="f-items default-padding">

                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item">
                        <div class="f-item about">
                            <h4>PT Ammara Eka Persada</h4>
                            <ul>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <p>Email <span><a
                                                href="mailto:sales@ammara.co.id">sales@ammara.co.id</a></span>
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-map"></i>
                                    <p>Office <span>Jl. Tanah Merdeka No. 4A
                                    . Ciracas Jakarta Timur</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item">
                        <div class="f-item">
                            <h4>Hubungi Kami</h4>
                            <span style="font-size: 1.8em;"><a href="tel:08118992108">0811-8992-108</a></span>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item">
                        <div class="f-item recent-post">
                            <h4>Jual Pipa PVC SNI &amp; HDPE</h4>
                            <p>Butuh pipa PVC SNI atau pipa HDPE? Kami siap membantu anda memenuhi kebutuhan proyek perpipaan.  </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; AMMARA.CO.ID Copyright 2020. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/kebijakan-privasi/">Kebijakan Privasi</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL}}/persyaratan-layanan/">Persyaratan Layanan</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{{ .Site.BaseURL }}/assets/js/jquery-1.12.4.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/equal-height.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/jquery.appear.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/jquery.easing.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/modernizr.custom.13711.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/wow.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/progress-bar.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/isotope.pkgd.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/count-to.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/bootsnav.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/main.js"></script>

    </body>
</html>