<!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="f-items default-padding">

                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item">
                        <div class="f-item about">
                            <h4>About</h4>
                            <ul>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <p>Email <span><a
                                                href="mailto:support@validtheme.com">support@validtheme.com</a></span>
                                    </p>
                                </li>
                                <li>
                                    <i class="fas fa-map"></i>
                                    <p>Office <span>123 6th St. Melbourne, FL 32904</span></p>
                                </li>
                            </ul>
                            <div class="bottom">
                                <h4>Call Us Today</h4>
                                <span>+123 456 7890 </span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item">
                        <div class="f-item link">
                            <h4>Services</h4>
                            <ul>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Oil & Gas Engineering</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Chemical Research</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Industrial Equipments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Building & Construction</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Energy Production</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Mechanical</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item">
                        <div class="f-item recent-post">
                            <h4>Recent Posts</h4>
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="{{ .Site.BaseURL }}/assets/img/portfolio/55.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">Debating all she mistaken indulged believed provided declared</a>
                                        <div class="meta-title">
                                            <span class="post-date">12 Feb, 2019</span> - By <a href="#">Author</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="{{ .Site.BaseURL }}/assets/img/portfolio/44.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">Future Plan & Strategy for Consutruction </a>
                                        <div class="meta-title">
                                            <span class="post-date">18 Mar, 2019</span> - By <a href="#">Author</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; AMMARA.CO.ID Copyright 2020. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/kebijakan-privasi/">Kebijakan Privasi</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL}}/persyaratan-layanan/">Persyaratan Layanan</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{{ .Site.BaseURL }}/assets/js/jquery-1.12.4.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/equal-height.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/jquery.appear.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/jquery.easing.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/modernizr.custom.13711.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/wow.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/progress-bar.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/isotope.pkgd.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/count-to.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/bootsnav.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/js/main.js"></script>

    </body>
</html>