<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
        <li>
            <a href="{{ .Site.BaseURL }}/harga-pipa-pvc">Harga Pipa PVC</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/harga-pipa-hdpe">Harga Pipa HDPE</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle smooth-menu" data-toggle="dropdown">Download</a>
            <ul class="dropdown-menu animated">
                <li><a href="{{ .Site.BaseURL }}/downloads/brosur-pipa-pvc-sni-vinilon.pdf">Brosur Pipa PVC SNI Vinilon</a></li>
                <li><a href="{{ .Site.BaseURL }}/downloads/brosur-pipa-hdpe-mdpe-vinilon.pdf">Brosur Pipa HDPE &amp; MDPE Vinilon</a></li>
                <li><a href="{{ .Site.BaseURL }}/downloads/brosur-pipa-subduct-telkom-fo-vinilon.pdf">Brosur Pipa HDPE Subduct Vinilon</a></li>
                <li><a href="{{ .Site.BaseURL }}/downloads/brosur-pipa-pvc-sni-hdpe-supralon.pdf">Brosur Pipa PVC &amp; HDPE Supralon</a></li>
                <li><a href="{{ .Site.BaseURL }}/downloads/brosur-pipa-pvc-supramas.pdf">Brosur Pipa PVC Supramas</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/hubungi-kami">Hubungi Kami</a>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->